*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: beige;
    text-align: center;
}
.todo-container{
    width: 400px;
    padding:20px;
    background-color: aliceblue;
    border: 1px solid black;
    border-radius: 7px;
    align-items: center;
   margin-top: 70px;
    margin: 0 auto;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;

}
#task{
    width: 70%;
    padding: 8px;
    /* border: 2px solid black; */
    border-radius: 5px;
}
#add-btn{
    padding: 10px 15px;
    background-color: blue;
    color: white;
    border-radius: 5px;
    margin: 10px;
    cursor: pointer;
}
ul{
    list-style: none;
    padding: 0;
}
li{
    display: flex;
  justify-content: space-between;
  background-color: beige;
  border: 1px solid black;
  border-radius: 7px;
  margin: 5px;
  padding: 6px;
}
#delete-btn{
    color: red;
    cursor: pointer;
}