*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: darkcyan;
    text-align: center;
    margin-top: 20px;
}
.pic-container{
    width: 400px;
    position: relative;
    padding: 20px;
    align-items: center;
    background-color: rgb(231, 125, 148);
    margin-top: 20px;
    margin: 0 auto;
    border: 1px solid rgb(42, 37, 37);
    border-radius: 7px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;


}
.pic-container h1 {
    position: absolute;
    margin-top: 50px;
    left: 40%;
    transform: translate(-50%, -50%);
    color: rgb(119, 37, 57);
    font-size: 35px;
    font-weight: 500px;
    z-index: 1;
}
.pic-container img{
    max-width: 100%;
    height: auto;
}
#product{
    background-color: rgb(215, 232, 245) ;
    width: 75%;
    padding: 8px;
    border: 1px solid black;
   
    border-radius: 5px;
}
#submit-btn{
    background-color: rgb(132, 132, 203);
    padding: 5px;
    border: 1px solid black;
    border-radius: 5px;
    cursor: pointer;
}
#submit-btn:hover{
    background-color: blue;
}
ul{
    list-style: none;
    padding: 0;
}
li{
    display: flex;
    justify-content: space-between;
    /* border: 1px solid black; */
    border-radius: 7px;
    margin: 5px;
    padding: 6px;
}
#delete-btn{
    background-color: red;
 
}
.edit-btn{
    background-color: green;
    margin-left: auto;
 margin-right: 5px;
}


